[include]
    path = ~/.gitconfig.local
[color]
    ui = auto
[alias]
    logf = log --follow
    cm = commit
    co = checkout
    s = status --branch --short
    st = status --branch --short
    d = diff --color
    g = grep --line-number --show-function --color --heading --break
    lp = log --decorate --stat --patch
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    lg-f = log --stat --follow
	conflicts = !git ls-files -u | cut -f 2 | sort -u
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
[push]
	default = simple
